s_permalink_article_rep
  .common-article-container
    include ./article-main-content
    include ./toc
  s_rp
    .reply-container
      s_rp_input_form
        .reply-write-form
          s_rp_member
            s_rp_guest
              p.input-item
                label
                  include ../../icons/user-icon
                  span Name
                input(
                  type='text',
                  name='[##_rp_input_name_##]',
                  value='[##_guest_name_##]',
                  placeholder='이름을 입력해주세요.'
                )
              p.input-item
                label
                  include ../../icons/asterisk-icon
                  span Password
                input(
                  type='password',
                  maxlength='8',
                  name='[##_rp_input_password_##]',
                  value='[##_rp_admin_check_##]',
                  placeholder='비밀번호를 입력해주세요.'
                )
              p.input-item
                label
                  include ../../icons/house-icon
                  span Homepage
                input.homepage(
                  type='text',
                  name='[##_rp_input_homepage_##]',
                  value='[##_guest_homepage_##]',
                  placeholder='홈페이지를 입력해주세요.'
                )
            p.input-item
              label
                include ../../icons/lock-icon
                span Secret
              input.checkbox(type='checkbox', name='[##_rp_input_is_secret_##]')
            p.input-item.textarea-wrapper
              textarea(name='[##_rp_input_comment_##]', placeholder='댓글을 남겨주세요!')
            .btn-wrapper
              button.btn.btn-primary.submit-btn(type='submit', onclick='[##_rp_onclick_submit_##]')
                include ../../icons/send-icon
                span Submit
      .reply-list
